<div class="container">
	
	

{{ _domain['masterhead']|raw }}

<nav class="navbar navbar-default" style='margin:0;'>
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<ul class="nav nav-pills pull-left" style="margin:0;">
				<li role="presentation"{% if _page == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
				
				<li role="presentation"{% if _page == "articles/news" %} class="active"{% endif %}><a href="/articles/news">News</a></li>
				<li role="presentation"{% if _page == "articles/sport" %} class="active"{% endif %}><a href="/articles/sport">Sport</a></li>
				
			</ul>
			
			<ul class="nav nav-pills pull-right" style="margin:0 20px 0 0 ;">
				{% if _domain['menu']['events'] %}
					<li role="presentation"{% if _page == "events/list" %} class="active"{% endif %}><a href="/events">Events</a></li>
				{% endif %}
				<li class="">{{ _domain['menu']['events'] }}</li>
			</ul>
		</div>

		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-pills pull-left hidden-md hidden-lg">
				{% for row in _domain['categories'] %}
					<li role="presentation"{% if _page == "articles/"~ row['url'] %} class="active"{% endif %}><a href="/articles/{{ row['url'] }}">{{ row['category'] }}</a></li>
				{% endfor %}
			</ul>
			
			<ul class="nav nav-pills pull-right"><li role="presentation"{% if _page == "/search" %} class="active"{% endif %}><a href="/search">Search</a></li>
				<li role="presentation"{% if _page == "contact" %} class="active"{% endif %}><a href="/contact">Contact Us</a></li>
				<li role="presentation"><a href="http://{{ _domain['prefered_url']['url'] }}">Website</a></li>
			</ul>
			
			
		</div>
	</div>
</nav>
</div>
<div class='hidden-sm hidden-xs'>
	<div class="container">
		<ul class="nav nav-pills pull-right nav-justified" style="margin:0;">
			{% for row in _domain['categories'] %}
					<li role="presentation"{% if _page == "articles/"~ row['url'] %} class="active"{% endif %}><a href="/articles/{{ row['url'] }}">{{ row['category'] }}</a></li>
			{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
	
</div>
<div style='margin-bottom:20px;' ></div>