<h1>{{ article['heading'] }}</h1>
<section>
	<div>
		{{ article['category']['label'] }} - Date: {{ article['publishDate']['date_display_full'] }}
	</div>
	<div>
		Written by: {{ article['author']['name'] }} / Viewed: {{ article['viewed'] }}
	</div>
</section>
<hr>
<article>
	{% if article['thumbnail']['ID'] %}
	<div class="media-left pull-left c">
		<img class="" src="/photo/files/{{ article['thumbnail']['ID'] }}/200/200/{{ article['thumbnail']['filename_orig'] }}" alt="..." style="background-color: #ccc;">
		<div class="caption" style="max-width: 200px; padding: 5px 0 5px 0" >
			{{ article['thumbnail']['description']|raw() }}
		</div>
	
	</div>
	{% endif %}
	{{ article['article']|raw() }}
</article>
<section class="thumbnails" style='margin-top:20px;'>
	<div class="clearfix"></div>
	{% for row in article['photos'] %}
		{% if row['ID'] != article['thumbnail']['ID'] and row['description']=='' %}
			
					<a href="/photo/files/{{ row['ID'] }}/600/600/{{ row['filename_orig'] }}" class='media-left pull-left c' target='_blank' style='background-color: #ccc; float:left; margin:10px;'>
						<img alt="" src="/photo/files/{{ row['ID'] }}/200/200/{{ row['filename_orig'] }}" >
					</a>
				
				
		{% endif %}
	{% endfor %}
	<div class="clearfix"></div>
	
	<hr>
		{% for row in article['photos'] %}
			{% if row['ID'] != article['thumbnail']['ID'] and row['description']!='' %}
			<div style="margin-top:20px;">
				<div class="media-left pull-left">
					<a href="/photo/files/{{ row['ID'] }}/600/600/{{ row['filename_orig'] }}" target='_blank' style='width:200px; height:200px; background-color: #ccc;'>
				<img alt="" src="/photo/files/{{ row['ID'] }}/200/200/{{ row['filename_orig'] }}">
					</a>
				</div>
	
				{{ row['description']|raw() }}
			</div>
			<div class="clearfix"></div>
			{% endif %}
		{% endfor %}
		
</section>