
<table class="table table-condensed records">

	<tbody>
	{% for row in data_orig %}
		{% if last != row['dateStart']['month_year']  %}
			<tr>
				<td colspan="2" class="heading">
					{{ row['dateStart']['month_year'] }}
				</td>
			</tr>
		{% endif %}
		{% set last = row['dateStart']['month_year'] %}
		<tr class="record{%  if extra.event.ID==row['ID'] %} active{% endif %}">
			<td class="c span1" title="{{ row['category'] }}">
				<img src="/ui/_images/events/{{ row['categoryID'] }}.png" style="height:30px;" alt=""/>
			</td>
			<td>
				<a href="/events/{{ row['ID'] }}/{{ row['url'] }}" class="event-item">{{ row['heading'] }}</a>

				<div class="s dg">
					{% if row['location'] %}
						<div class="info-item">
							<em>Where: </em>{{ row['location'] }}
						</div>
					{% endif %}
					{% if row['dateStart']['date'] %}
						<div class="info-item">
							<em>Start: </em>{{ row['dateStart']['date_display_micro'] }} {% if  row['dateStart']['time'] != '00:00' %}&nbsp;({{ row['dateStart']['time_m'] }}){% endif %}
						</div>
					{% endif %}
					{% if row['dateEnd']['date'] %}
						<div class="info-item">
							<em>End:&nbsp; </em>{{ row['dateEnd']['date_display_micro'] }} {% if  row['dateEnd']['time'] != '00:00' %}&nbsp;({{ row['dateEnd']['time_m'] }}){% endif %}
						</div>
					{% endif %}

				</div>
			</td>

		</tr>

	{% endfor %}
	</tbody>

</table>