
<table class="table table-condensed records">

	<tbody>
	{% for row in data_orig %}
		{% if last != row['dateStart']['month_year']  %}
			<tr>
				<td colspan="2" class="heading">
					{{ row['dateStart']['month_year'] }}
				</td>
			</tr>
		{% endif %}
		{% set last = row['dateStart']['month_year'] %}
		<tr class="record{%  if extra.event.ID==row['ID'] %} active{% endif %}">
			<td class="c span1" title="{{ row['category'] }}">
				<img src="/ui/_images/events/{{ row['categoryID'] }}.png" style="height:30px;" alt=""/>
			</td>
			<td>
				<a href="/events/{{ row['ID'] }}/{{ row['url'] }}" class="event-item">{{ row['heading'] }}</a>

				<div class="s dg">
					{% if row['location'] %}
						<div class="info-item">
							<em>Where: </em>{{ row['location'] }}
						</div>
					{% endif %}
					{% if row['dateStart']['date'] %}
						<div class="info-item">
							<em>Start: </em>{{ row['dateStart']['date_display_micro'] }} {% if  row['dateStart']['time'] != '00:00' %}&nbsp;({{ row['dateStart']['time_m'] }}){% endif %}
						</div>
					{% endif %}
					{% if row['dateEnd']['date'] %}
						<div class="info-item">
							<em>End:&nbsp; </em>{{ row['dateEnd']['date_display_micro'] }} {% if  row['dateEnd']['time'] != '00:00' %}&nbsp;({{ row['dateEnd']['time_m'] }}){% endif %}
						</div>
					{% endif %}

				</div>
			</td>

		</tr>

	{% endfor %}
	</tbody>

</table>
{% for key, records in data %}
	{% set time = key|date("U") %}


	<table class="table event-calendar">
		<thead>
		<tr>
			<th colspan="7" class="center">
				{{ time|date('F Y') }}
			</th>
		</tr>
		<tr class="days-of-the-week">
			<th width="14%">Sunday</th>
			<th width="14%">Monday</th>
			<th width="14%">Tuesday</th>
			<th width="14%">Wednesday</th>
			<th width="14%">Thursday</th>
			<th width="14%">Friday</th>
			<th width="14%">Saturday</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			{% set daysInMonth = time|date('t') %}
			{% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
			{% set dow = startDow %}
			{% for day in range(1,daysInMonth) %}
			{% if loop.first and startDow != 0 %}
				<td colspan="{{ startDow }}"></td>
			{% endif %}
			<td class="daycell {% if time|date('Y-m-')~"%02d"|format(day) < now|date("Y-m-d") %}old{% endif %}">
				<div>
					<div class="day-number">{{ day }}</div>
					<div>
						{% set day_key = time|date('Y-m-')~"%02d"|format(day) %}

						{% for row in records[day_key][0] %}
							<a href="/events/{{ row['ID'] }}/{{ row['url'] }}" class="event-item"><img src="/ui/_images/events/{{ row['categoryID'] }}.png" alt="{{ row['heading'] }}" title="{{ row['category'] }} - {{ row['heading'] }} {% if row['dateStart']['date'] %}  |  Start: {{ row['dateStart']['date_display_micro'] }} {% if  row['dateStart']['time'] != '00:00' %}&nbsp;({{ row['dateStart']['time_m'] }}){% endif %}{% endif %}{% if row['dateEnd']['date'] %}  |  End: {{ row['dateEnd']['date_display_micro'] }} {% if  row['dateEnd']['time'] != '00:00' %}&nbsp;({{ row['dateEnd']['time_m'] }}){% endif %}{% endif %} " class="cat-icon"/></a>
						{% endfor %}
					</div>
				</div>
			</td>
			{% if loop.last and dow != 6 %}
				<td colspan="{{ 6 - dow }}">&nbsp;</td>
			{% endif %}
			{% if dow == 6 %}
			{% set dow = 0 %}
		</tr>
		<tr>
			{% else %}
				{% set dow = dow + 1 %}
			{% endif %}
			{% endfor %}
		</tr>
		</tbody>
	</table>
{% endfor %}